:root {
  --bgcolor: #2a2c33;
  --bodycolor: #bfbfc1;
  --acolor: #949599;
  --hovercolor: #e9e9ea;
}
* {
  box-sizing: border-box;
  margin: 0.5rem;
}
body {
  background-color: var(--bgcolor);
  color: var(--bodycolor);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  display: grid;
  text-align: end;
  font-size: 1.2rem;
}
.topnav a {
  text-decoration: none;
  color: var(--acolor);
}
.topnav a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--hovercolor);
}
.education {
  display: grid;
  grid-template-columns: 20% auto;
  border: 1px solid var(--acolor);
  font-size: 0.9rem;
}
.detail {
  display: grid;
  grid-template-columns: 15% auto;
}
.detail ul li {
  list-style: none;
}
.col p {
  color: var(--acolor);
}
@media only screen and (max-width: 620px) {
  nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-size: 0.9rem;
  }
  .education {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 0.8rem;
  }
}
