:root {
  --bgcolor: #2a2c33;
  --bodycolor: #bfbfc1;
  --acolor: #949599;
  --hovercolor: #e9e9ea;
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--bgcolor);
  color: var(--bodycolor);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 20% auto auto;
  grid-template-areas:
    "home about"
    ". education"
    ". languages"
    ". skill"
    ". experience";
  margin: 0.5rem;
}
.sec-home {
  grid-area: home;
}
.sec-about {
  grid-area: about;
}
.sec-education {
  grid-area: education;
}
.sec-languages {
  grid-area: languages;
}
.sec-skill {
  grid-area: skill;
}
.sec-experience {
  grid-area: experience;
}
.home {
  line-height: 2rem;
  font-size: 1.2rem;
}
.aboutme,
.education,
.skill,
.experience {
  display: grid;
  grid-template-columns: 30% auto;
  border: 1px solid var(--acolor);
  line-height: 2rem;
  font-size: 0.9rem;
}
.languages {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  border: 1px solid var(--acolor);
  line-height: 2rem;
  font-size: 0.9rem;
}
.experience {
  padding: 0.5rem;
  line-height: 1.2rem;
}
.col ul li {
  list-style: none;
}
.col ul li i {
  font-size: 1.5rem;
}
.col ul li i:hover {
  color: var(--hovercolor);
}
a {
  text-decoration: none;
  color: var(--acolor);
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--hovercolor);
}
p {
  line-height: 0.3rem;
}
.upper {
  text-transform: uppercase;
}
@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "home"
      "about"
      "education"
      "languages"
      "skill"
      "experience";
  }
}
